<!DOCTYPE html>
<html lang="en">

<head>
  <title>playlist.html (kioo template)</title>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<div class="container-fluid">

  <div class="main-shell">

    <header>
      <h1>Oops</h1>
    </header>

    <div class="alert alert-danger">
      An error occured!
    </section>

  </div>

</div>
</body>

</html>
