<html>
<!-- note that only the <body> tag is used with (deftemplate), everything else is discarded -->
<head>
  <link type="text/css" href="../public/css/site.css">
  <link type="text/css" href="../public/css/json.human.css">
</head>
<body>

<header>
  <h1>Haunting Refrain</h1>
</header>

<section>
  <p>Haunting refrain builds a playlist from your foursquare history.</p>
  <p>To get started, you need to sign in to foursquare.</p>

  <div class="login">
    <button>Log In</button>
  </div>

</section>

</body>
</html>
