<!DOCTYPE html>
<html lang="en">
<!-- note that only the <body> tag is used with (deftemplate), everything else is discarded -->

<head>
  <title>splash.html (kioo template)</title>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<div class="container-fluid">

<header>
  <h1>Haunting Refrain</h1>
</header>

<section>
  <p>Haunting refrain builds a playlist from your foursquare history.</p>
  <p>To get started, you need to sign in to foursquare.</p>

  <div class="login">
    <button>Log In</button>
  </div>

</section>

  <script src="/js/app.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>

</div>
</body>
</html>
